body {
    background: repeating-radial-gradient(rgb(36, 27, 168) 0%, rgb(173, 78, 49) 100%);
    background-repeat: no-repeat;
}

.grid_container {
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 2.5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 50px;
}

    div.gallery {
        margin: 5px;
        border: 3px solid ;
        float: left;
        width: 360px;
    }

        div.digital {
            border-color: rgb(38, 221, 69);
            background-color: rgb(193, 235, 209);
        }

        div.digital:hover {
            border-color: rgb(72, 148, 91);
        }

        div.sfm {
            border-color: rgb(209, 221, 38);
            background-color: rgb(234, 235, 193);
        }

        div.sfm:hover {
            border-color: rgb(147, 148, 72);
        }

        div.traditional {
            border-color: rgb(38, 221, 191);
            background-color: rgb(193, 235, 232);
        }

        div.traditional:hover {
            border-color: rgb(72, 148, 138);
        }
        
    .gallery img {
        width: 100%;
        height: auto;
    }
    
    .desc {
        padding: 15px;
        text-align: center;
        font-size: 22px;
    }

    .legend {
        width: 75%;
        border: 3px solid;
        border-radius: 6px;
    }

    .legend_heading {
        margin-top: 3.5%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 28px;
        max-width: 40%;
        background-color: rgb(161, 179, 228);
        border: 3px solid rgb(179, 210, 245);
        border-radius: 16px;
    }