body {
    scroll-behavior: smooth;
    background: linear-gradient(180deg, rgb(165, 42, 42) 0%, rgb(216, 62, 62) 5%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
}

.content_container {
	margin: auto;
	max-width: 96%;
}

.heading_container {
    margin:auto;
    max-width: 36%;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 12px;
}

    .heading_container .header {
        margin: auto;
        text-align: center;
    }

    .heading_container .subheader {
        margin: auto;
        text-align: center;
    }

.text_section_1 {
    margin: 2%;
    font-size: 22px;
}

    .text_article_1 {
        text-align: left;
        margin-right: 56%;
    }
    
    .text_article_2 {
        text-align: left;
        margin-left: 56%;
    }