:root {
    --main-navbar-bg-color: rgb(165, 42, 42);
    --main-navbar-button-color: rgb(196, 157, 43);
    --main-navbar-text-color: rgb(42, 73, 165);
}

html, body {
    margin: 0px;
}

.nav {
    background-color: var(--main-navbar-bg-color);
    padding: 12px 0px 12px 0px;
    z-index: 10;
    border-bottom: 3px rgb(112, 30, 30) solid;
}

.nav .first_a {
    margin-left: 2.5%;
}

.nav a {
    padding: 6px;
    margin: 2px;
    font-size: 22px;
    text-decoration: none;
    border: rgba(0,0,0,0) 1px solid;
}

.inactive{
    background-color: var(--main-navbar-button-color);
    color: var(--main-navbar-text-color);
    border-radius: 16px;
}

.inactive:link {
    background-color: var(--main-navbar-button-color);
    color: var(--main-navbar-text-color);
    text-decoration: none;
}

.inactive:active {
    color: rgb(26, 46, 103);
    text-decoration: underline;
}

.inactive:hover {
    color: rgb(37, 64, 144);
    text-decoration: underline;
}

.inactive:visited {        
    background-color: var(--main-navbar-button-color);
    color: var(--main-navbar-text-color);
    text-decoration: none;
}

.active {
    background-color: rgb(73, 165, 42);
    color: rgb(42, 42, 165);
    border-radius: 6px;
}